.menu {    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding-top: 3.2rem;
    padding-bottom: 6.8rem;
}

.menuLink {    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;   
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.2s ease-in-out;
    padding: 1.2rem;
    border-radius: 0.8rem;

}

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}

.menuLink:hover {
    filter: brightness(80%);

}